.header {
    display: grid;
    justify-items: center;
    color: #e100ff;
}
.name {
    font-weight: bold;
    font-family: Arial, serif;
    font-size: 50px;
    margin-bottom: 0;
}
.info {
    margin: 3px;
}
